---
import StandardPageLayout from "../../layouts/StandardPageLayout.astro";
import Work, { type Props as WorkProps } from "../../components/content/Work.astro";

// TODO temp random orientation code to test masonry display ---\/\/\/
const dimension = () => (Math.random() > 0.5 ? 640 : 480);
// TODO ---^^^

const works: Omit<WorkProps, "imageId">[] = [
  { imageUrl: `https://placehold.co/${dimension()}x${dimension()}` },
  { imageUrl: `https://placehold.co/${dimension()}x${dimension()}` },
  { imageUrl: `https://placehold.co/${dimension()}x${dimension()}` },
  { imageUrl: `https://placehold.co/${dimension()}x${dimension()}` },
  { imageUrl: `https://placehold.co/${dimension()}x${dimension()}` },
  { imageUrl: `https://placehold.co/${dimension()}x${dimension()}` },
  { imageUrl: `https://placehold.co/${dimension()}x${dimension()}` },
  { imageUrl: `https://placehold.co/${dimension()}x${dimension()}` },
];
---

<StandardPageLayout title="PORTFOLIO">
  <div class="columns-4 gap-1 space-y-1">
    {works.map((work, i) => <Work {...work} imageId={i.toString(10)} />)}
  </div>
</StandardPageLayout>
